@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
body {
  font-family: "Fredoka One", cursive !important;
}
.text-nowrap {
  white-space: nowrap;
}
::-moz-selection {
  /* Code for Firefox */
  color: #e43c3b;
  background: #21235c;
}

::selection {
  color: #e43c3b;
  background: #21235c;
}
